*.swp
*.conf
.HA_VERSION
.storage
automations.yaml
deps/
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
scenes.yaml
scripts.yaml
secrets.yaml
blueprints/automation/homeassistant/
blueprints/script/homeassistant/
